.table-responsive.container
  %table.table.table-hover.mb-0
    %thead
      %tr
        %th Name
        %th Ingredients
    %tbody
      - @recipes.each do |recipe|
        = render 'recipe', recipe: recipe
