.d-flex.flex-column.align-items-center
  %p
    - if @recipes.nil?
      .alert.alert-danger
        No recipes found.
    - else
      = render 'recipes'

.d-flex.justify-content-center.p-2
  = link_to "Return to home", root_path, class: 'btn btn-info', data: { turbolinks: false }
