.container
  .form-group
    .alert.alert-info
      How to use : Enter your ingredients separated by a -
    %form{action: recipes_search_path, method: "post"}
      %input.form-control{name: "ingredients", type: "text", placeholder: 'Exemple : egg - sugar - flour'}
      .form-check
        %input#exampleRadios2.form-check-input{checked: "checked", :name => "language", :type => "radio", :value => "en"}
        %label.form-check-label{:for => 'en'}
          English
      .form-check
        %input#exampleRadios1.form-check-input{name: "language", type: "radio", value: "fr"}
        %label.form-check-label{:for => 'fr'}
          Français
      .form-group
      .d-flex.justify-content-center.p-2
        %button.btn.btn-info{type: "submit"} Let's cook !
