!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Food Check
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon.png')
  %body
    .jumbotron.text-center.bg-info.text-white
      %h1 Food Check
      %p A simple web app to help you find a recipe with what you have in the fridge.
    = yield
